.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-ava{
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0, 0.1);
}

.header__navbar-user-name{
    margin-left: 4px;
    font-weight: 400;
    font-size: 1.3rem;
}

.header__navbar-user-menu{
    position: absolute;
    z-index: 2;
    padding-left: 0;
    top: calc(100% + 4px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header__navbar-user-menu::before{
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: -1px;
    top: -30px;

}

.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 60%;
    height: 8px;
}

.header__navbar-user-item{

}

.header__navbar-user-item--seperate{
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}


.header__navbar-user-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #3a3a3a;
    padding: 8px 16px;
    display: block;
}

.header__navbar-user-item a:first-child{
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover{
    background-color: #fafafa;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;

}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(255, 2255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item--bold{
    font-weight: 400;
}

.header__navbar-item--seperate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: #FB9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2){
    margin-left: 3px;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--nopointer{
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */

.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 2px;
    border-radius: 2px;
    display: none;
    animation: fadein ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.15);
}

.header__qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;

}

.header__qr-link:nth-child(1) {
    margin-left: 10px;
}

.header__qr-link:nth-child(2) {
    margin-right: 20px;
}

.header__qr-download-img {
    height: 14px;
}

/* Header notify */

.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 2px solid rgba(0,0,0, 0.1);
    border-radius: 2px;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotify ease-in 0.25s;
     display: none;
     will-change: opacity, transform;
     z-index: 1;
}

.header__notify::before{
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 5px;
    top: -30px;
}

.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

@keyframes headerNotify {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);

}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;

}

.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-item--viewd{
    background-color: rgba(238, 75, 43, 0.08) ;
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    

}

.header__notify-img {
    width: 48px;
    object-fit: contain;

}

.header__notify-info {
    margin-left: 12px;

}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--black-color);
    line-height: 1.8rem;

}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #757575;
    margin-top: 4px;
}

.header_notify-footer{
    display: flex;
    
}

.header_notify-footer-btn{
    text-decoration: none;
    color: #3c3c3c;
    font-weight: 400;
    padding: 8px;
    margin: auto;
    width: 100%;
    text-align: center;
}


.auth-form{
    border-radius: 5px;
    width: 500px;
    overflow: hidden;
    background-color: var(--white-color);
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 500;
    color:#3c3c3c;
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 500;
    color:#d61301;
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px ;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1.5px solid #dbdbdb;
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    font-weight: 500;
    padding: 0 12px;
}

.auth-form__text-link{
    text-decoration: none;
    color: #d61301;
}

.auth-form__control{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #eaeaea;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook
.auth-form__socials-icon{
    color: var(--white-color);
}

.auth-form__socials--facebook{
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth-form__socials-title{
    margin: 0 26px;
}

.auth-form__socials--google{
    background-color: var(--white-color);
    color:#3c3c3c;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #999;
}

.auth-form__help-seperate{
    display: block;
    height: 20px;
    margin: -3px 16px 0;
    border-left: 1px solid #dfdfdf;
}

.auth-form__help-forgot{
    color:#da473a;
}

/*  Header with search */

.header-with-search{
    display: flex;
    align-items: center;
    height: var(--header-with-search-height);
    margin: 0 8px;
}

.header__logo{
    width: 200px;
}

.header__logo-link{
    text-decoration: none;
    color: transparent;
}

.header__logo-img{
    width: 150px;
    color: var(--white-color);
}

.header__search{
    height: 40px;
    flex-grow: 1;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart{
    width: 150px;
    text-align: center;
}

.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}
.header__cart-notice{
    position: absolute;
    padding: 2px 6px;
    background-color: var(--white-color);
    color: #d61301;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px ;
    border: 2px solid #EE4D2D;
    top: -8px;
    right: -3px;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-heading{
    text-align: left;
    margin-top: 12px;
    margin-right: 0;
    margin-left: 12px;
    margin-bottom: 12px;
    font-size: 1.4rem;
    color: #949494;
    font-weight: 400;
}

.header__cart-list{   
    position: absolute;
    background-color: var(--white-color);
    top: calc(100% + 8px);
    right: -10px;
    width: 380px;
    border-radius: 2px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
    z-index: 2;
}

.header__cart-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 8px;
    top: -30px;
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 44vh;
    overflow-y: auto;
}

.header__cart-item{
    display: flex;
    align-items: center;
}

.header__cart-item:hover{
    background-color: #F8F8F8;
}
.header__cart-img{
    width: auto;
    height: 42px;
    margin: 12px;
    border: 2px solid #e2e2e2;
}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: #3d3d3d;
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}
.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: #d61301;
}
.header__cart-item-multiply{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}
.header__cart-item-quantity{
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.header__cart-item-description{
    color: #757575;
    font-size: 1.3rem;
    font-weight: 400;
}
.header__cart-item-delete{
    color: #5e5e5e;
    font-size: 1.4rem;
    font-weight: 500;
}

.header__cart-item-delete:hover{
    color: #d61301;
    cursor: pointer;
}
.header__cart-list--no-cart{
    padding: 12px 0;
}

.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover{
    background-color: #F05D41;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-no-cart-img{
    width: 40%;
    display: none;
}

.header__cart-list-no-cart-msg{
    font-size: 1.4rem;
    padding: 0 0;
    margin-top: 10px;
    color: #434343;
    display: none;
}

.header__cart-icon{
    color: var(--white-color);
    font-size: 2.5rem;
    margin-top: 2px;
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    color: #3c3c3c;
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-select{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-select-label{
    font-size: 1.4rem;
    color:#606060 ;
    padding: 8px 8px;
}

.header__search-select-icon{
    font-size: 1.4rem;
    color:#868686;
    margin: 0 14px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn{
    background-color: #ff4130 ;
    border: none;
    border-radius: 3px;
    height: 34px;
    width: 60px;
    font-size: 1.6rem;
    color: var(--white-color);
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover{
    background-color: #ff5444;
    cursor: pointer;
}

.header__search-btn-icon{
    color: var(--white-color);
    font-size: 1.4rem;
}

.header__search-option{
    position: absolute;
    right: 0;
    top: 125%;
    width: 130px;
    list-style: none;
    border-radius: 3px;
    box-shadow: 0 1px 2px #dddddd;
    padding-left: 0;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease-in 0.1s;
    z-index: 1;
}

.header__search-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 12px;
    position: absolute;
    top: -10px;
    left: 0;
}

.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:first-child{
   border-top-right-radius: 2px;
   border-top-left-radius: 2px;
}

.header__search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
 }


.header__search-option-item:hover{
    background-color: #f7f7f7;
    cursor: pointer;
}

.header__search-option-item span{
    font-size: 1.4rem;
    color: #3c3c3c;
    margin-left: 14px;
}

.header__search-option-item i{
    font-size: 1.2rem;
    color: #ff4130;
    margin: 0 4px 0 12px;
    display: none;
}

.header__search-option-item--active i{
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

/* search history */

.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 2px 4px #dbdbdb;
    display: none;
    z-index: 2;
}

.header__search-history-heading{
    margin: 8px 12px;
    font-size: 1.5rem;
    color: #bfbfbf;
    font-weight: 400;
    align-items: center;
}

.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item{
    height: 40px;
    padding: 0 12px;
}

.header__search-history-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-history-item:hover{
    background-color: #f8f8f8;
    cursor: pointer;
}

.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #606060;
    line-height: 38px;
    display: block;
}

/*app container */
.app__container{
    background-color: #F5f5f5;
}

.category{
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading{
    margin-top: 0;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 18px 18px 0;
    text-transform: uppercase;
    font-weight: 400;
}

.category__heading--icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list{
    padding: 0 0 6px 0;
    list-style: none;
}

.category-item{
    position: relative;
}

.category-item:first-child::before{
    display: none;
}

.category-item::before{
    content: "";
    position: absolute;
    border-top: 1px solid #e1e1e1;
    top: 0;
    left: 20px;
    right: 20px;
}

.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item__link{
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 10px 20px;
    right: 0;
}

.category-item__link:hover{
    color: var(--primary-color);
    
}

/* Home sort + filter */

.home-filter{
    background-color: rgba(0,0,0, 0.04);
    display: flex;
    padding: 12px 22px;
    border-radius: 2px;
    align-items: center;
}

.home-filter__label{
    color: #555555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__btn{
    margin-right: 12px;
    min-width: 90px;
    box-shadow: 0 1px 2px #e0e0e0;
}

.home-filter__page-num{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: 0 1px 2px #e0e0e0;
}

.home-filter__page-btn{
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}

.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555555;
}

.home-filter__page-btn--disable{
    background-color: #f9f9f9;
}

.home-filter__page-btn--disable:hover{
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon{
    background-color: #f9f9f9;
    color: #ccc;
}

/* product item */
.home-product{
    margin-bottom: 10px;
}

.home-product-item{
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
    transition: transform ease-in-out 0.1s;
    will-change: transform;
    display: block;
    text-decoration: none;
}

.home-product-item:hover{
    box-shadow: 0 1px 20px rgba(0,0,0, 0.05);
    transform: translateY(-1px);
}

.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    padding: 0 10px;
    margin: 10px 10px 6px 0px ;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.home-product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item__price-old{
    font-size: 1.3rem;
    margin-left: 10px;
    color: var(--text-color);
    text-decoration: line-through;
}
.home-product-item__price-new{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-left: 10px;
    font-weight: 400;
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 0px;
}

.home-product-item__like{
    font-size: 1.3rem;
}

i.home-product-item__like--icon-fill{
    display: none;
    color: #F63D30;
}

.home-product-item__like--liked .home-product-item__like--icon-fill{
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like--icon-empty{
    display: none;
}

.home-product-item__rating{
    font-size: 0.8rem;
    color: #D5d5d5;
    margin-left: auto;
}

.home-product-item__star--gold{
    color: var(--star-gold-color);

}

.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px ;
}

.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px;
    font-size: 1.2rem;
    color: #595959;
    font-weight: 300;
}

.home-product-item__brand{

}
.home-product-item__origin-name{

}
.home-product-item__favorite{
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: #f53e2d;
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 16px;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favorite::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid #ad2b1f;
    border-left: 4px solid transparent;
}

.home-product-item__favorite i{
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}
.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.9);
    text-align: center;
}
.home-product-item__sale-percent{
    color: #EE4D2D;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.3rem;
}
.home-product-item__sale-label{
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.home-product__pagination{
    margin-top: 48px;
    margin-bottom: 32px;
}

/* footer */

.footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}

.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #757575;
}

.footer__list{
    padding-left: 0;
    list-style: none;
    padding-bottom: 2px;
}

.footer-list-item-link{
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
    color: #868686;
    padding: 4px 0 4px 0 ;
    display: flex;
    align-items: center;
}

.footer-list-item-link:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.footer__list-item-icon{
    font-size: 1.6rem;
    margin-right: 8px;
}

.footer__download{
    display: flex;
}
.footer__download-qr{
    height: 80px;
    border: 1px solid rgba(0,0,0, 0.1);
}

.footer__download-app{
    flex: 1;
    margin-left: 16px;
    display: flex ;
    flex-direction: column;
    justify-content:center;
}

.footer__download-app-img{
    height: 16px;
}

.footer__download-app-link{
    color: transparent;
    text-decoration: none;
    padding: 4px;
}

.footer__download-app-img-appstore{
    height: 16px;
    margin-left: 6px;
}

.footer__buttom{
    padding: 8px 0;
    background-color: #f5f5f5;
    min-height: 48px;
    margin-top: 36px;
}

.footer__text{
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #737373;
}